* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
}

.navbar.navbar-expand-xl {
    border-bottom: 6px solid rgba(227, 148, 176, 1);
}

.logo {

    border-radius: 50pt;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn.btn-support.item {
    font-size: 40px;
    margin-right: 50px;
    padding: 10px 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.btn.btn-support.item:hover {
    background-color: #FFC0CB;
    border-radius: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.btn.btn-support.profile {
    font-size: 32px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom, rgba(248, 242, 226, 1), rgba(255, 255, 255, 0));
    padding: 20px 40px 20px 40px;
    border-radius: 50pt;
}

.btn.btn-support.profile:hover {
    cursor: pointer;
    pointer-events: all;
    background: linear-gradient(to bottom, rgba(251, 236, 195, 1), rgba(222, 217, 202, 0));
    color: rgba(232, 58, 120, 1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

body {
    background-color: rgba(249, 231, 231, 1);
    overflow-x: hidden;
}

.main {
    padding-top: 25px;
    background-image: url('https://i.postimg.cc/KYR1nrLP/2024-03-05-231725.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    word-break: break-all;
}

.container.creature {
    background: rgba(248, 242, 226, 1);
    max-width: 1400px;
    margin-top: 44px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 16pt;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.creature_button {
    background: linear-gradient(to bottom, rgba(235, 143, 175, 0.95), rgba(249, 231, 231, 1));
    border: none;
    font-size: 20px;
    border-radius: 20pt;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.creature_button:hover {
    background: linear-gradient(to bottom, rgba(232, 143, 174, 0.95), rgb(239, 217, 217));
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}


.button_X {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    margin-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 35px;
    color: rgba(223, 119, 155, 0.95);
}

.left-column {

    background: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border: 19px solid rgba(235, 143, 175, 0.95);
    border-radius: 100pt;
    align-items: center;
}

.button_image {
    width: 80px;
    height: 85px;
    border-radius: 20pt;
    box-shadow: 4px 4px 4px rgba(11, 11, 11, 0.25);
    margin-top: 10px;
    margin-bottom: 10px;
}

.button_image:hover {
    box-shadow: 6px 6px 6px rgba(209, 44, 203, 0.25);
    cursor: pointer;
    pointer-events: all;
}

.button_image.micro {
    border-radius: 0pt;
    box-shadow: none;
}

.right-column {
    background: linear-gradient(rgba(253, 250, 244, 1) rgba(211, 185, 133, 02));
    height: 400px;
}

 

.btn.save_button {
    background: linear-gradient(rgba(242, 156, 186, 0.95), rgb(233, 209, 209));
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 70pt;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
}



.body_button {
    padding-bottom: 50px;
    max-width: 900px;
    margin: 0 auto;
}



.save_button:hover {

    border-radius: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    border: 7px solid rgba(217, 117, 153, 1);
    border-radius: 10pt;
    box-shadow: 4px 5px 7px rgba(227, 148, 176, 0.85);

}

.modal-content.podd {
    background-image: url('https://i.postimg.cc/bJnfj9xz/2024-03-20-204713.png');
    background-size: cover;
    background-position: center;
    padding-left: 20px;
}

.modal-content.podds {
    background-image: url('https://i.postimg.cc/43jsRBFd/2024-03-21-173836.png');
    background-size: cover;
    background-position: center;
    padding-left: 20px;
}

.modal_podder {
    padding-bottom: 260px;
}

.modal_pods {
    padding-top: 80px;
    padding-bottom: 150px;
}

.modal_podder a {
    text-decoration: none;
    transition: filter 0.3s;
}

.modal_podder a:hover {
    filter: brightness(1.2);
}

.modal-content.podd {
    background-image: url('https://i.postimg.cc/bJnfj9xz/2024-03-20-204713.png');
    background-size: cover;
    background-position: center;
    padding-left: 20px;
}

.template-btn {
    width: 110px;
    border-radius: 10pt;
    background-color: rgba(249, 183, 207, 1);
    padding: 5px;
    border: 2px solid rgb(175, 31, 79);
    color: rgb(175, 31, 79);
}


@media screen and (max-width: 1000px) {
    .logo {
        margin-left: 25px;
        max-width: 90px;
        max-height: 50px;
    }

    .button_image {
        width: 25px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 25pt;
        box-shadow: 4px 4px 4px rgba(11, 11, 11, 0.25);

    }

    .button_X {
        font-size: 12px;
    }

    .left-column {
        border: 10px solid rgba(235, 143, 175, 0.95);
    }

    textarea {
        border: 10px solid rgba(235, 143, 175, 0.95);
    }

    .btn.save_button {
        padding-top: 15px;
        font-size: 10px;
        margin-right: 115px;
    }
}

.waw {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    z-index: 1;
}



.button-container {
    position: relative;
}

.button_image {
    cursor: pointer;
}

.slidecontainer {
    width: 100%;
    /* Ширина внешнего контейнера */
}

/* Сам ползунок */
.slider {
    -webkit-appearance: none;
    /* Переопределение стилей CSS по умолчанию */
    appearance: none;
    width: 100%;
    /* Полная ширина */
    height: 25px;
    /* Заданная высота */
    background: #d3d3d3;
    /* Серый фон */
    outline: none;
    /* Удалить контур */
    opacity: 0.7;
    /* Установите прозрачность (для эффектов наведения мыши при наведении курсора) */
    -webkit-transition: .2s;
    /* 0.2 секундный переход при наведении курсора */
    transition: opacity .2s;
}

/* Эффекты наведения курсора мыши */
.slider:hover {
    opacity: 1;
    /* Полностью отображается при наведении курсора мыши */
}

/*Ползунок обработчик (использовать -webkit- (Chrome, Opera, Safari, Edge) и -moz- (Firefox) чтобы переопределить внешний вид по умолчанию ) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Переопределить внешний вид по умолчанию */
    appearance: none;
    width: 25px;
    /* Установите определенную ширину обработчика ползунка */
    height: 25px;
    /* Высота обработчика ползунка */
    background: rgba(235, 143, 175, 0.95);
    /* Зеленый фон */
    cursor: pointer;
    /* Курсор при наведении */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Установите определенную ширину обработчика ползунка */
    height: 25px;
    /* Высота обработчика подзунка */
    background: rgba(235, 143, 175, 0.95);
    /* Зеленый фон */
    cursor: pointer;

    /* Курсор при наведении */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
    z-index: 1;
}

.button-container:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    background-color: pink;
    /* Изменяем цвет фона на розовый */
    color: black;
    /* Цвет текста */
}

.dropdown-item:hover {
    background-color: lightpink;
    /* Изменяем цвет фона при наведении */
}




.info {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 25px;
    height: 150px;
    border: 3px solid rgba(235, 143, 175, 0.95);
    border-radius: 10px;
    resize: none;
}

.nik_poch {
    padding-left: 21px;
    height: 50px;
    border-radius: 20px;
    border: 3px solid rgba(235, 143, 175, 0.95);
}


.nik_poch:focus,
.info:focus {
    outline: none;

}

.nik_poch:invalid,
.info:invalid {
    border: 3px solid rgba(235, 143, 175, 0.95);
}

.nik_poch:invalid+span::after {
    content: attr(title);
    color: rgba(235, 143, 175, 0.95);
}

.modal-content.prof {
    background: linear-gradient(to bottom, rgb(239, 217, 217), rgba(232, 143, 174, 0.95));
}

.prof p {
    color: rgba(222, 74, 126, 0.95);
    font-size: 25px;
    text-shadow: 0px 4px 4px rgba(8, 8, 8, 0.3);
}

.btn.prof {
    margin-right: 60px;
    margin-bottom: 20px;
}





.glow-on-hover {
    border: none;
    outline: none;
    color: #ece2e2;
    background-color: rgb(230, 154, 182);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    font-size: 40px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    padding-bottom: 5px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #f49fe1, #e869cd, #f54cdc, #ed73f1, rgb(206, 73, 128), rgb(221, 101, 151), rgb(224, 59, 130), rgb(227, 16, 104), #e18ace);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    background-color: rgb(230, 154, 182);
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 154, 182);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/**********************/

/***********************************/
.glow-on-hover2 {
    border: none;
    outline: none;
    color: #928888;
    background: linear-gradient(to bottom, rgba(248, 242, 226, 1), rgba(255, 255, 255, 0));
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50pt;
    font-size: 23px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);

}

.glow-on-hover2:before {
    content: '';
    background: linear-gradient(45deg, #f49fe1, #e869cd, #f54cdc, #ed73f1, rgb(206, 73, 128), rgb(221, 101, 151), rgb(224, 59, 130), rgb(227, 16, 104), #e18ace);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50pt;
}

.glow-on-hover2:active {
    background: linear-gradient(to bottom, rgba(248, 242, 226, 1), rgba(255, 255, 255, 0));
}

.glow-on-hover2:active:after {
    background: transparent;
}

.glow-on-hover2:hover:before {
    opacity: 1;
}

.glow-on-hover2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(248, 242, 226, 1), rgba(255, 255, 255, 0));
    left: 0;
    top: 0;
    border-radius: 50pt;
}

.btn.btn-support.profile {
    font-size: 32px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom, rgba(248, 242, 226, 1), rgba(255, 255, 255, 0));
    padding: 20px 40px 20px 40px;
    border-radius: 50pt;
}

.btn.btn-support.profile:hover {
    cursor: pointer;
    pointer-events: all;
    background: linear-gradient(to bottom, rgba(251, 236, 195, 1), rgba(222, 217, 202, 0));
    color: rgba(232, 58, 120, 1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

/********************************************/



.glow-on-hover1 {
    margin-top: 10px;
    margin-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    outline: none;

    background: linear-gradient(to bottom, rgba(235, 143, 175, 0.95), rgba(249, 231, 231, 1));
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50pt;
    font-size: 35px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);

}

.glow-on-hover1:before {
    content: '';
    background: linear-gradient(45deg, #f49fe1, #e869cd, #f54cdc, #ed73f1, rgb(206, 73, 128), rgb(221, 101, 151), rgb(224, 59, 130), rgb(227, 16, 104), #e18ace);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50pt;
}

.glow-on-hover1:active {
    background: linear-gradient(to bottom, rgba(235, 143, 175, 0.95), rgba(249, 231, 231, 1));
}

.glow-on-hover1:active:after {
    background: transparent;
}

.glow-on-hover1:hover:before {
    opacity: 1;
}

.glow-on-hover1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(235, 143, 175, 0.95), rgba(249, 231, 231, 1));
    left: 0;
    top: 0;
    border-radius: 50pt;
}


.modal-note-textarea[data-placeholder]:empty:after {
    content: attr(data-placeholder);
    color: gray;
}

 
.modal-note-textarea {
    background: white;
    border-radius: 20pt;
    border: 19px solid rgba(235, 143, 175, 0.95);
    outline: none;
    line-height: 1.5;
    padding: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) inset, 4px 4px 4px rgba(0, 0, 0, 0.25);

}




.template {
    font-size: 15px;
    padding: 10px;
    background-color: rgb(244, 236, 242);
    margin: 5px;
    align-items: center;
    border: 3px solid rgba(227, 148, 176, 1);
    border-radius: 10px;
    width: 230px; /* задайте желаемую ширину блока */
    word-wrap: break-word;
    cursor: pointer;
    justify-content: space-between;
}

.noteTemplate-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 200px;
    overflow-y: auto; 
}